{% extends 'portfolio/base.html' %}
{% block content%}
{% load static %}
<div class="blog_body">
<h1 class="blog_title">All Blogs Here!</h1>

<div class="filter">
    <legend><h5>SEARCH BY TITLE OR TAG</h5></legend><br>
<form method="GET">
<!--{{filter.form}}-->
    {% for field in filter.form %}
    <span class="label">{{ field.label_tag }}</span> : <span class="filed"> {{ field }}</span>
                {% endfor %}
    <button class="btn btn-sm btn-info" type="submit">Search</button>
</form>

    </div>
<br><br>
<div class="blog-body">
<ul>
    {% for blog in blogs %}

    <li>
        <a href="{% url 'details' blog.id %}"><h2>{{blog.title}}</h2></a>
        {% if blog.date_updated %}
         <h5>Updated by {{blog.author| capfirst}} on: {{blog.date_updated | date:'M j Y H:i' }}</h5>
        {% else %}
        <h5>Posted by {{blog.author| capfirst}} on: {{blog.date_created | date:'M j Y H:i' }}</h5>
        {% endif %}
        <h5>Tag : {{blog.tag}}</h5>
        <p>{{blog.body | truncatechars:120}}</p>
    </li>
    <hr>
    {% endfor %}
</ul>
</div>
</div>
{% endblock %}